<form action="javascript:void(0);" method="get" class="filter-wrapper">
    <div class="params-wrapper">
        <div class="dropdown-toggle" data-toggle-filter></div>
        <div class="tokens-wrapper"></div>
        <div class="search-input-wrapper">
            <input type="text" name="key" value="{{ data.filterParams.key ?? '' }}" placeholder="Ricerca per nominativo..." autocomplete="off">
        </div>
        <button type="button" class="filter-submit" data-action="submit"></button>
    </div>
    <div class="dropdown-wrapper">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-3">Broker/Agenzia</label>
                <div class="col-md-9">
                    <select class="form-control filter-param" name="agency_id">
                        <option value="">Qualsiasi</option>
                        {% for agency in data.authorizedAgencies %}
                        <option value="{{ agency.getId() }}" {{ setOption(agency.getId(), data.filterParams.agency_id) }}>{{ agency.getDescription() }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Stato richiesta</label>
                <div class="col-md-9">
                    <select class="form-control filter-param" data-label="Stato richiesta" name="crm_status">
                        <option value="">Qualsiasi</option>
                        {% for key, label in data.crm_status_list %}
                        <option value="{{ key }}" {{ setOption(key, data.filterParams.crm_status) }}>{{ label }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Responsabile</label>
                <div class="col-md-9">
                    <select class="form-control filter-param" data-label="Responsabile" name="responsible_id">
                        <option value="">Qualsiasi</option>
                        {% for responsible in user.getSiblings() %}
                        <option value="{{ responsible.getId() }}" {{ setOption(responsible.getId(), data.filterParams.responsible_id) }}>{{ responsible.getFullName() }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <button class="submit" data-action="submit">APPLICA FILTRO</button>
    </div>
</form>