{% extends "index.twig" %}
{% block content %}

<section class="page_slider ds">
	<div class="flexslider" data-nav="false">
		<ul class="slides">
			<li class="cover-image">
				<span class="flexslider-overlay"></span>
				<img src="{{ theme }}assets/images/slide04.jpg" alt="">
				<div class="container">
					<div class="row">
						<div class="col-md-12"> 
							<div class="intro_layers_wrapper">
								<div class="intro_layers">
									<div class="intro_layer" data-animation="fadeInDown">
										<div class="d-inline-block">
											<h2 class="intro_featured_word">
												<span class="color-main">Insufflaggio:</span><br>Isolamento Termico<br>a Basso Costo
											</h2>
										</div>
									</div>
									<div class="intro_layer slider-buttons" data-animation="fadeInDown">
										<a href="/richiedi-preventivo" class="btn-link with-icon light-link">Richiedi un preventivo</a>
									</div>
								</div> <!-- eof .intro_layers -->
							</div> <!-- eof .intro_layers_wrapper -->
						</div> <!-- eof .col-* -->
					</div><!-- eof .row -->
				</div><!-- eof .container -->
			</li>
			<li class="cover-image">
				<span class="flexslider-overlay light-overlay"></span>
				<img src="{{ theme }}assets/images/slide05.jpg" alt="">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="intro_layers_wrapper">
								<div class="intro_layers">
									<div class="intro_layer" data-animation="fadeInDown">
										<div class="d-inline-block">
											<h2 class="intro_featured_word">
												<span class="color-main">Protezione</span> dalla<br>
												Muffa e Umidit&agrave;
											</h2>
										</div>
									</div>
									<div class="intro_layer slider-buttons" data-animation="fadeInDown">
										<a href="/richiedi-preventivo" class="btn-link with-icon light-link">Richiedi un preventivo</a>
									</div>
								</div> <!-- eof .intro_layers -->
							</div> <!-- eof .intro_layers_wrapper -->
						</div> <!-- eof .col-* -->
					</div><!-- eof .row -->
				</div><!-- eof .container -->
			</li>
			<li class="cover-image">
				<span class="flexslider-overlay light-overlay"></span>
				<img src="{{ theme }}assets/images/slide06.jpg" alt="">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="intro_layers_wrapper">
								<div class="intro_layers">
									<div class="intro_layer" data-animation="fadeInDown">
										<div class="d-inline-block">
											<h2 class="intro_featured_word">
												<span class="color-main">Miglioramento</span><br> dell' Isolamento Acustico
											</h2>
										</div>
									</div>
									<div class="intro_layer slider-buttons" data-animation="fadeInDown">
										<a href="/richiedi-preventivo" class="btn-link with-icon light-link">Richiedi un preventivo</a>
									</div>
								</div> <!-- eof .intro_layers -->
							</div> <!-- eof .intro_layers_wrapper -->
						</div> <!-- eof .col-* -->
					</div><!-- eof .row -->
				</div><!-- eof .container -->
			</li>
		</ul>
	</div> <!-- eof flexslider -->
</section>

<!-- Section Icon Boxes -->
<section class="ls s-pt-60 s-pb-15 s-pt-lg-95 s-pb-lg-35 s-pt-xl-150 s-pb-xl-85 icon-bg s-parallax">
	<div class="container">
		<div class="row">

			<div class="col-12 col-lg-4">
				<div class="divider-lg-15"></div>
				<img src="{{ theme }}assets/images/logo-dark.png" alt="">
				<div class="divider-40 divider-lg-65"></div>
				
				<h4 class="special-heading">
					I vantaggi dell'insufflaggio di cellulosa
				</h4>

				<div class="divider-40 divider-lg-0"></div>
			</div>

			<div class="col-12 col-lg-8">
				<div class="row c-gutter-90 c-mb-40 c-mb-lg-60">
					<div class="col-12 col-md-6 animate" data-animation="fadeInUp">
						<div class="media px-10">
							<div class="icon-styled fs-40">
								<i class="ico ico-footprint"></i>
							</div>
							<div class="media-body">
								<h6>
									<a href="javascript:void(0);">Isolamento termico</a>
								</h6>
								<p>
									La cellulosa ha eccellenti proprietà isolanti grazie alla sua struttura fibrosa, che riduce significativamente la dispersione di calore. Ciò contribuisce a creare un ambiente interno più confortevole durante tutto l'anno, riducendo la necessità di riscaldamento o raffreddamento e abbassando i costi energetici.
								</p>
							</div>
						</div>
					</div><!-- .col-* -->

					<div class="col-12 col-md-6 animate" data-animation="fadeInUp">
						<div class="media px-10">
							<div class="icon-styled fs-40">
								<i class="ico ico-listening"></i>
							</div>
							<div class="media-body">
								<h6>
									<a href="javascript:void(0);">Isolamento acustico</a>
								</h6>
								<p>
									L'insufflaggio di cellulosa riduce notevolmente la trasmissione dei rumori provenienti dall'esterno o da altre stanze all'interno dell'edificio. Ciò significa che potrete godere di un ambiente più tranquillo e silenzioso, proteggendo la vostra privacy e migliorando la qualità della vita all'interno della struttura.
								</p>
							</div>
						</div>
					</div><!-- .col-* -->

					<div class="col-12 col-md-6 animate" data-animation="fadeInUp">
						<div class="media px-10">
							<div class="icon-styled fs-40">
								<i class="ico ico-plug"></i>
							</div>
							<div class="media-body">
								<h6>
									<a href="javascript:void(0);">Riduzione dei consumi energetici</a>
								</h6>
								<p>
									Grazie all'efficace isolamento termico offerto dalla cellulosa, è possibile ridurre notevolmente il consumo di energia per il riscaldamento e il raffreddamento dell'edificio. Ciò comporta un risparmio significativo sulle bollette energetiche a lungo termine, consentendo un ritorno sull'investimento nel tempo.
								</p>
							</div>
						</div>
					</div><!-- .col-* -->

					<div class="col-12 col-md-6 animate" data-animation="fadeInUp">
						<div class="media px-10">
							<div class="icon-styled fs-40">
								<i class="ico ico-award"></i>
							</div>
							<div class="media-body">
								<h6>
									<a href="javascript:void(0);">Riduzione dell'impatto ambientale</a>
								</h6>
								<p>
									La cellulosa è un materiale isolante ecologico, realizzato principalmente da carta riciclata e trattato con additivi ignifughi naturali. L'uso della cellulosa come isolante contribuisce alla riduzione dell'impatto ambientale dell'edificio, promuovendo la sostenibilità e la protezione dell'ambiente.
								</p>
							</div>
						</div>
					</div><!-- .col-* -->

					<div class="col-12 col-md-6 animate" data-animation="fadeInUp">
						<div class="media px-10">
							<div class="icon-styled fs-40">
								<i class="ico ico-house"></i>
							</div>
							<div class="media-body">
								<h6>
									<a href="javascript:void(0);">Migliore comfort abitativo</a>
								</h6>
								<p>
									Grazie all'isolamento termico e acustico superiore fornito dall'insufflaggio di cellulosa, l'ambiente interno diventa più confortevole. Si riducono le variazioni di temperatura e gli sbalzi termici, creando un'atmosfera piacevole e stabile all'interno dell'edificio.
								</p>
							</div>
						</div>
					</div><!-- .col-* -->

					<div class="col-12 col-md-6 animate" data-animation="fadeInUp">
						<div class="media px-10">
							<div class="icon-styled fs-40">
								<i class="ico ico-support"></i>
							</div>
							<div class="media-body">
								<h6>
									<a href="javascript:void(0);">Durata e resistenza</a>
								</h6>
								<p>
									La cellulosa insufflata forma uno strato compatto e stabile all'interno delle intercapedini, che mantiene le sue prestazioni nel tempo. La cellulosa è resistente al deterioramento, alle muffe e agli insetti dannosi, garantendo un'efficace protezione dell'edificio nel corso degli anni.
								</p>
							</div>
						</div>
					</div><!-- .col-* -->

				</div><!-- .row* -->
			</div><!-- .col-* -->
		</div><!-- .row* -->
	</div>
</section>

<!-- Section Call To Action -->
<section class="ds s-py-60 s-py-lg-100 s-py-xl-150 s-overlay s-parallax call-to-action text-center text-lg-left">
	<div class="container">
		<div class="row">
			<div class="col-11 m-auto col-lg-12 p-40 px-lg-60 py-lg-65 ls animate" data-animation="pullDown">
				<div class="row align-items-center justify-content-between">
					<div class="col-lg-2">
						<img src="{{ theme }}assets/images/logo-dark.png" alt="">
						<div class="divider-25 divider-lg-0"></div>
					</div>
					<div class="col-lg-6">
						<p>Saremo lieti di fornirti un preventivo GRATUITO per il tuo isolamento termico ed acustico.</p>
					</div>
					<div class="col-lg-3 text-lg-right">
						<div class="divider-25 divider-lg-0"></div>
						<a href="/richiedi-preventivo" class="btn btn-small btn-maincolor with-icon btn-ls">Richiedi un preventivo</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ls s-pt-60 s-pb-15 s-pt-lg-95 s-pb-lg-35 s-pt-xl-150 s-pb-xl-85 icon-bg s-parallax">
	<div class="container">		
		<div class="row align-items-center justify-content-between">
			<div class="col-md-6 col-xl-5 animate" data-animation="fadeInLeft">
				<h4 class="special-heading">Scopri tutto sull'insufflaggio guardando il nostro video esplicativo, ricco di informazioni utili e consigli pratici!</h4>
				<div class="divider-35 divider-lg-50"></div>
				<div class="owl-carousel owl-service-content owl-count" data-responsive-xs="1" data-responsive-sm="1" data-responsive-md="1" data-responsive-lg="1" data-dots="true" data-animateout="fadeOut">
				</div>
				<div class="divider-40 divider-lg-0"></div>
			</div>

			<div class="col-md-6 animate" data-animation="fadeInRight">
				<div class="owl-carousel owl-service-image" data-draggable="false" data-responsive-xs="1" data-responsive-sm="1" data-responsive-md="1" data-responsive-lg="1" data-dots="false" data-animateout="fadeOut">

					<div class="service-image">
						<img src="{{ theme }}assets/images/service/02.jpg" alt="">
						<div class="media-links">
							<a href="#" class="photoswipe-link video-link2" data-iframe="https://www.casabiocasamia.com/video/insufflaggio/video-esplicativo-insufflaggio.mp4" data-index="1">
							</a>
						</div>
					</div>

				</div>
			</div>

		</div>
		
	</div>
</section>

<!-- Section  Testimonials -->
<section id="testimonials" class="ls ms s-pt-55 s-pb-50 s-pt-lg-95 s-pb-lg-90 s-pt-xl-145 s-pb-xl-140">
	<div class="container">
		<div class="row">

			<div class="col-12 col-md-7 mx-auto text-center">
				<h4 class="special-heading">Cosa dice la gente</h4>
				<p class="special-heading">Scopri cosa dicono i nostri clienti: leggi le recensioni qui sotto.</p>
				<div class="divider-30 divider-lg-40"></div>
			</div>

			<div class="col-md-12">
				<div class="testimonials-slider owl-carousel" data-autoplay="true" data-loop="true" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1" data-nav="true" data-dots="false" data-animateout="fadeOut">
					<div class="quote-item hero-bg box-shadow">
						<div class="quote-image">
							<img src="{{ theme }}assets/images/team/testimonials01.jpg" alt="">
						</div>
						<div class="quote-content">
							<blockquote class="fs-20">
								Sono rimasto estremamente soddisfatto del servizio di insufflaggio di cellulosa fornito da questa azienda. Innanzitutto, il personale è stato estremamente professionale e cortese fin dall'inizio. Mi hanno fornito tutte le informazioni necessarie e risposto a tutte le mie domande in modo chiaro e esauriente.
							</blockquote>
							<h6>Diana V.</h6>
						</div>
					</div>

					<div class="quote-item hero-bg box-shadow">
						<div class="quote-image">
							<img src="{{ theme }}assets/images/team/testimonials02.jpg" alt="">
						</div>
						<div class="quote-content">
							<blockquote class="fs-20">
								L'intero processo di insufflaggio è stato rapido ed efficiente, e ho notato immediatamente un miglioramento nella temperatura e nell'isolamento acustico della mia abitazione. Inoltre, ho apprezzato molto l'attenzione ai dettagli durante l'installazione.
							</blockquote>
							<h6>Daniele M.</h6>
						</div>
					</div>

					<div class="quote-item hero-bg box-shadow">
						<div class="quote-image">
							<img src="{{ theme }}assets/images/team/testimonials03.jpg" alt="">
						</div>
						<div class="quote-content">
							<blockquote class="fs-20">
								Dopo aver avuto questa esperienza positiva, consiglio vivamente il servizio di insufflaggio di cellulosa di questa azienda a chiunque sia alla ricerca di un'efficace soluzione di isolamento per la propria casa. Grazie ancora per il servizio impeccabile!
							</blockquote>
							<h6>Letizia B.</h6>
						</div>
					</div>

				</div><!-- .testimonials-slider -->

			</div>
		</div>
	</div>
</section>

<!-- Section Steps -->
<section class="ls s-py-55 s-pt-lg-100 s-pb-lg-95 s-pt-xl-150 s-pb-xl-145 text-center text-md-left">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-5 col-lg-3 col-xl-4">
				<h4 class="special-heading">Come funziona</h4>
			</div>
			<div class="col-md-7 col-lg-5 col-xl-8">
				<div class="divider-25 divider-md-0"></div>
				<p>Dal 2012, il nostro impegno nel campo dei servizi di isolamento si è distinto per la sua affidabilità e la sua qualità insuperabile. Tuttavia, ciò che ci rende veramente unici è la nostra visione: non ci limitiamo a essere soltanto un'azienda di isolamento, ma aspiriamo a trasformare i sogni dei nostri clienti in una solida realtà, prestando attenzione a ogni dettaglio.</p>
			</div>
			<div class="col-12">
				<div class="divider-40  divider-lg-60"></div>
				<div class="steps-alt">
					<i class="ico-step text-left ico ico-start color-dark fs-40"></i>
					<div class="step">
						<span class="step-dot">
							<i class="fa fa-circle"></i>
						</span>
						<div class="step-content mt-20">
							<p>Valutiamo la Tua richiesta</p>
						</div>
					</div>
					<div class="step">
						<span class="step-dot">
							<i class="fa fa-circle"></i>
						</span>
						<div class="step-content mt-20">
							<p>Formuliamo un preventivo</p>
						</div>
					</div>
					<div class="step">
						<span class="step-dot">
							<i class="fa fa-circle"></i>
						</span>
						<div class="step-content mt-20">
							<p>Isoliamo la Tua Casa</p>
						</div>
					</div>
					<div class="step">
						<span class="step-dot">
							<i class="fa fa-circle"></i>
						</span>
						<div class="step-content mt-20">
							<p>Risparmi sulle bollette</p>
						</div>
					</div>
					<i class="ico-step text-right ico ico-finish color-dark fs-40"></i>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Section Project -->
<section id="project" class="ds ms s-overlay s-parallax s-py-55 s-py-lg-95 s-py-xl-145 project-horizontal-section">
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2 text-center">
				<h4 class="special-heading">Prodotti da insufflaggio</h4>
				<p class="special-heading">Offriamo i nostri servizi professionali di isolamento di immobili residenziali e commerciali sia per edifici esistenti che di nuova costruzione.</p>
				<div class="divider-30 divider-lg-53"></div>
			</div>
			<div class="col-12">
				<div class="owl-carousel count-list" data-nav="false" data-dots="true" data-autoplay="false" data-loop="false" data-margin="30" data-responsive-xs="1" data-responsive-sm="2" data-responsive-md="2" data-responsive-lg="2">

					{% for product in f_nav['product'] %}
					<div class="gallery-item-extended horizontal-item count-item cs venting attic-insulation">
						<div class="item-content">
							<h6 class="item-title">
								<a href="{{ path }}scheda-prodotto/{{ product.getId() }}">{{ product.getTitle() }}</a>
							</h6>

							<a href="{{ path }}scheda-prodotto/{{ product.getId() }}" class="btn-link btn-absolute with-icon item-button">
								Vai alla scheda
							</a>
						</div>
						<div class="item-media">
							<img src="{{ product.getImage() }}" alt="">
							<div class="media-links">
								<a class="abs-link" href="{{ path }}scheda-prodotto/{{ product.getId() }}"></a>
							</div>
						</div>
					</div>
					{% endfor %}

				</div>
			</div>
		</div>
	</div>
</section>

{% include '/partials/map.twig' %}

<!-- Section partners
<section class="c-gutter-0 container-px-45 s-py-30 s-pt-lg-120 s-pb-lg-110 partners-section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 text-center">
				<div class="owl-carousel" data-margin="100" data-responsive-lg="6" data-responsive-md="4" data-responsive-sm="3" data-responsive-xs="1" data-nav="false" data-loop="true">
					<img src="{{ theme }}assets/images/partners/01.jpg" alt="">
					<img src="{{ theme }}assets/images/partners/02.jpg" alt="">
					<img src="{{ theme }}assets/images/partners/03.jpg" alt="">
					<img src="{{ theme }}assets/images/partners/04.jpg" alt="">
					<img src="{{ theme }}assets/images/partners/05.jpg" alt="">
					<img src="{{ theme }}assets/images/partners/06.jpg" alt="">
				</div>
			</div>
		</div>
	</div>
</section>
 -->
{% endblock content %}