{% extends "index.twig" %}
{% block content %}
<section class="page_title ds s-pt-115 s-pb-65 s-pb-lg-85 s-pt-lg-145 bg-auto page_title s-parallax s-overlay">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center text-lg-left">
				<h1 class="color-main">{{ data.staticPage.title }}</h1>
				<ol class="breadcrumb links-light">
					<li class="breadcrumb-item">
						<a href="/home">Home</a>
					</li>
					<li class="breadcrumb-item active">
						<span class="bg-maincolor">{{ data.staticPage.title }}</span>
					</li>
				</ol>
			</div>

		</div>
	</div>
</section>

<section class="ls s-pt-60 s-pb-10 s-py-lg-100 s-py-xl-150 c-gutter-60 c-mb-50 c-mb-lg-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-7">

				<h3>{{ data.staticPage.title }}</h3>

				{{ data.staticPage.description | raw }}
			</div>

			<div class="col-lg-5 service-tab">
				<div id="accordion01" role="tablist">
					{% for product in f_nav['staticPage'] %}
					<div class="card">
						<div class="card-header">
							<h6>
								<a class="collapsed" href="{{ path }}insufflaggio/{{ data.staticPage.title | url_encode }}/{{ product.getId() }}" aria-expanded="false">
									{{ product.getTitle() }}
								</a>
							</h6>
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="ls ms mt-40 p-40">
					<form class="contact-form c-mb-10 c-gutter-10" method="post">
						<h5 class="special-heading">
							Compila il form sottostante e sarai ricontattato telefonicamente per ricevere un preventivo
						</h5>
						<div class="form-group has-placeholder text-left">
							<p>Lavoriamo solo in Sicilia, in quale provincia si trova il tuo immobile?</p>
						</div>
						<div class="form-group has-placeholder">
							<select class="form-select provincia" name="provincia" required>
								<option value="">Scegli la provincia</option>
								<option value="AG">AGRIGENTO</option>
								<option value="CL">CALTANISSETTA</option>
								<option value="CT">CATANIA</option>
								<option value="EN">ENNA</option>
								<option value="ME">MESSINA</option>
								<option value="PA">PALERMO</option>
								<option value="RG">RAGUSA</option>
								<option value="PA">PALERMO</option>
								<option value="TP">TRAPANI</option>
							</select>
						</div>
						<div class="form-group has-placeholder text-left">
							<p>In quale comune?</p>
						</div>
						<div class="form-group has-placeholder">
							<select class="form-select comune" name="comune" required>
								<option value="">Scegli il comune</option>
							</select>
						</div>
						<div class="form-group has-placeholder d-none">
							<textarea rows="7" cols="45" name="messaggio" class="form-control" placeholder="Descrivi il problema" required>Voglio insufflare il mio immobile con: {{ data.staticPage.title }}</textarea>
						</div>
						<div class="form-group has-placeholder text-left">
							<p>Inserisci le informazioni richieste di seguito, le useremo per contattarti ed inviarti il preventivo richiesto.</p>
						</div>
						<div class="form-group has-placeholder">
							<label for="name">Nome <span class="required">*</span></label>
							<i class="fa fa-user"></i>
							<input type="text" size="30" value="" name="nome" class="form-control" placeholder="Nome" required>
						</div>

						<div class="form-group has-placeholder">
							<label for="surname">Cognome <span class="required">*</span></label>
							<input type="text" size="30" value="" name="cognome" class="form-control" placeholder="Cognome" required>
						</div>

						<div class="form-group has-placeholder">
							<label for="phone">Telefono<span class="required">*</span></label>
							<i class="fa fa-phone"></i>
							<input type="text" size="30" value="" name="telefono" class="form-control" placeholder="Telefono" required>
						</div>

						<div class="form-group has-placeholder">
							<label for="email">Email<span class="required">*</span></label>
							<i class="fa fa-envelope"></i>
							<input type="email" size="30" value="" name="email" class="form-control" placeholder="Email" required>
						</div>

						<button type="button" id="send-form" class="btn btn-wide btn-small btn-maincolor with-icon ">Invia</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<script>

 document.addEventListener('DOMContentLoaded', function() {

	Delegate(document).on('change', '.provincia', function(event) {
		let provincia = document.querySelector('.provincia');
		HttpRequest.post(`/api/address/getCity`, { state: provincia.value }, response => {
			if (response.status != 1) {
				throw response.message ?? 'Errore generico';
			}
			let comune = document.querySelector('.comune');
			response.result.list.forEach(item => {
				const option = document.createElement('option');
				option.value = item._key;
				option.text = item._value;
				comune.add(option);
			});
		});
		/**/
	});

	Delegate(document).on('click', '#send-form', function(event) {
		const badElements = document.querySelectorAll('.bad');
		badElements.forEach(element => {
			element.classList.remove('bad');
		});
		let _frm = document.querySelector('.contact-form');
		let validation = (new FormValidator({alerts: false})).checkAll(_frm);
		console.log(validation);
		if (!validation.valid) {
			validation.fields.forEach(entry => {
				entry.field.closest('.form-group').classList.toggle('bad', !entry.valid);
			});
		} else {
			let data = (new FormSerializer(_frm)).serialize();
			this.classList.add('invisible');
			HttpRequest.post(`/api/richiedi-preventivo`, {...data, piattaforma: 'website' }, response => {
				this.classList.remove('invisible');
				if (response.status != 1) {
					throw response.message ?? 'Errore generico';
				}
				window.location.href = `/ok`;
			});
		}
	});
	
});

</script>

{% endblock content %}
