<div class="row">
    <input type="hidden" name="contact_id" value="{{ contact.getId() }}">
    <div class="col-md-2">
        <div class="form-group">
            <label>Tipo</label>
            <input type="hidden" name="contact_type_id" value="{{ contact.getTypeId() }}">
            <select class="form-control" disabled>
                <option value="0" {{ setOption(0, contact.getTypeId()) }}>Privato</option>
                <option value="1" {{ setOption(1, contact.getTypeId()) }}>Azienda</option>
            </select>
        </div>                    
    </div>
    {% if contact.getTypeId() == 0 %}
    <div class="col-md-3">
        <div class="form-group">
            <label>Nome</label>
            <input type="text" class="form-control" name="first_name" value="{{ contact.getFirstName() }}">
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label>Cognome</label>
            <input type="text" class="form-control" name="last_name" value="{{ contact.getLastName() }}">
        </div>                        
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Data di nascita</label>
            <input type="text" class="form-control" name="birth_date" value="{{ contact.getBirthDate() is not null ? contact.getBirthDate()|date('d/m/Y') : '' }}">
        </div> 
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Luogo di nascita</label>
            <input type="text" class="form-control" name="birth_place" value="{{ contact.getBirthPlace() }}">
        </div>                        
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label>Codice fiscale</label>
            <input type="text" class="form-control" name="tax_code" value="{{ contact.getTaxCode() }}">
        </div>                        
    </div>
    {% endif %}
    {% if contact.getTypeId() == 1 %}
    <div class="col-md-3">
        <div class="form-group">
            <label>Rag. sociale</label>
            <input type="text" class="form-control" name="business_name" value="{{ contact.getBusinessName() }}">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Partita IVA</label>
            <input type="text" class="form-control" name="vat_number" value="{{ contact.getVatNumber() }}">
        </div>                        
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>PEC/SDI</label>
            <input type="text" class="form-control" name="pec" value="{{ contact.getPec() }}">
        </div>                        
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label>Referente</label>
            <input type="text" class="form-control" name="contact_person" value="{{ contact.getContactPerson() }}">
        </div>                        
    </div>
    {% endif %}
    <div class="col-md-4">
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" name="email" value="{{ contact.getEmail() }}">
        </div>                        
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Telefono</label>
            <input type="text" class="form-control" name="phone" value="{{ contact.getPhone() }}">
        </div>
    </div>        
</div>
<div class="row">
    <div class="col-md-5">
        <div class="form-group">
            <label>Indirizzo</label>
            <input type="text" class="form-control" name="address" value="{{ contact.getAddress() }}">
        </div>                    
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Provincia</label>
            <input type="text" class="form-control" name="state" value="{{ contact.getState() }}">
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label>Città</label>
            <input type="text" class="form-control" name="city" value="{{ contact.getCity() }}">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>CAP</label>
            <input type="text" class="form-control" name="zipcode" value="{{ contact.getZipcode() }}">
        </div>                        
    </div>        
    <div class="col-md-3">
        <div class="form-group">
            <label>Nazione</label>
            <input type="text" class="form-control" name="country" value="{{ contact.getCountry() }}">
        </div>                        
    </div>
    <div class="col-md-9">
        <div class="form-group">
            <label>Consensi privacy</label>
            <div class="checkbox mt5">
                <label class="checkbox-inline">
                    <input type="hidden" name="privacy_standard" value="0">
                    <input type="checkbox" class="field" name="privacy_standard" value="1" {{ setCheckbox(true, contact.getPrivacyStandard()) }}>Trattamento dati personali UE2016/679
                </label>
                <label class="checkbox-inline">
                    <input type="hidden" name="privacy_marketing" value="0">
                    <input type="checkbox" class="field" name="privacy_marketing" value="1" {{ setCheckbox(true, contact.getPrivacyMarketing()) }}>Finalit&agrave; di marketing
                </label>
                <label class="checkbox-inline">
                    <input type="hidden" name="privacy_analysis" value="0">
                    <input type="checkbox" class="field" name="privacy_analysis" value="1" {{ setCheckbox(true, contact.getPrivacyAnalysis()) }}>Analisi del traffico
                </label>            
            </div>
        </div>    
    </div>    
</div>
